/**************/
/* Carousel homepagina */
/**************/

main>ul:nth-of-type(1) img {

    width: 100%;

}



main>ul:nth-of-type(1) {

    margin: 0;
    padding: 0;
    list-style-type: none;

    display: flex;

    overflow-x: auto;

    scroll-snap-type: x mandatory;

    @media (prefers-reduced-motion:no-preference) {
        scroll-behavior: smooth;
    }

    anchor-name: --carousel;
}




main>ul:nth-of-type(1) {
    &::scroll-button(*) {

        position: fixed;
        position-anchor: --carousel;
        position-visibility: always;
        font-family: "Material Symbols Outlined";

        width: 3em;
        aspect-ratio: 1/1;
        border-radius: 50%;

        border: none;
        color: white;
        background-color: dodgerblue;

    }

    &::scroll-button(right) {

        position-area: bottom;
        content: '→' / 'Next';
        justify-self: end;

    }

    &::scroll-button(left) {

        position-area: bottom;
        content: '←' / 'Previous';
        justify-self: start;

    }

    &::scroll-button(*):disabled {

        background-color: grey;

    }
}



main>ul:nth-of-type(1) li {

    flex-basis: 100%;
    flex-shrink: 0;
    scroll-snap-align: center;
}


ul img {

    display: block;

}


/**************/
/* 3 links header*/
/**************/
main nav:nth-of-type(1) ul {

    display: grid;
    gap: 1em;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;

    padding: 0;

    @media (max-width:49em){

        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 1fr 1fr 1fr;

    }


}

/* verander de hover state van inverse color */
main nav:nth-of-type(1) {

    color: var(--color-text)
}

main nav:nth-of-type(1) ul li {

    padding: 0.5em;

    border-radius: 0.625em;
    background-color: var(--color-link-green);


}

main nav:nth-of-type(1) li h2 {

    color: black;

}

main nav:nth-of-type(1) li p {

    color: black;
    padding: 1.25em 1.25em 0.875em;

}






/* 3 media queries voor groot scherm dat alle 3 naast elkaar komt te staan met wit ruimte */
/* 2de voor dat bij een tussen formaat dat de recept 2 naast elkaar gaan staan */
/* kleinste dat het op een rij komt te staan */
/**************/
/* Recept kaartjes links media:38em */
/**************/
@media (min-width:38em) {
    main>h2 {

        font-size: var(--font-size-h2);
        line-height: var(--font-lineheight);
        font-weight: var(font-weight-heavy);

    }

    main>section:nth-of-type(1) {

        display: grid;
        gap: 1em;

        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr 1fr;

        /* display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 1.25em;
        align-items: stretch; */

    }

    main>section:nth-of-type(1) h2 {

        grid-column-start: 1;
        grid-column-end: 4;
        /* text-align: center; */

    }

    section:nth-of-type(1)>a {

        display: grid;
        /* display:flex;
        flex-direction: column; */
        background-color: var(--color-card);
        border-radius: 0.625em 0.625em;

    }

    section:nth-of-type(1)>a article {

        display: grid;
        box-shadow: 0 0 1.25em 0 rgba(0, 0, 0, .16)

    }

    section:nth-of-type(1)>a article img {

        /* deze images scaled niet mee met de grid als de h3 de hele breedte kan nemen */
        /* width: 100%;
        object-fit: cover; */

        width: 100%;
        height: auto;
        align-self: center;
        object-fit: cover;
        /* de default (inline) van img's overschrijven */
        display: block;
        order: -1;
        border-radius: 0.625em 0.625em 0 0;
    }

    section:nth-of-type(1) a article p {

        display: flex;
        align-items: center;

    }


    section:nth-of-type(1) a:nth-of-type(4) {
        display: grid;
        grid-column-start: -3;
        grid-column-end: -2;
        justify-content: center;

    }
}







/*******************************************/
/* Producten kaartjes*/
/******************************************/
section:nth-of-type(2) ul {

    display: grid;
    gap: 1.5em;

    padding: 0;

}

section:nth-of-type(2) article {

    display: grid;
    grid-template-rows: 1fr auto;

    position: relative;

    background-color: var(--color-card);
    border: 1px solid var(--color-border);
    border-radius: 0.625em 0.625em;
    box-shadow: 0 0 1.25em 0 rgba(0, 0, 0, .16)

}

section:nth-of-type(2) article h2 {

    order: 1;
    margin: 0;

}

section:nth-of-type(2) img {

    width: 8em;
    height: auto;
    object-fit: contain;

    justify-self: center;

}

section:nth-of-type(2) article section {

    position: absolute;
    right: 0;

}

section:nth-of-type(2) article section p {

    margin: 0;

}

section:nth-of-type(2) article section p:nth-of-type(1){

    text-decoration: line-through;

}

section:nth-of-type(2) article section p:nth-of-type(2){

    color: var(--color-sale);

}

section:nth-of-type(2) article > p:nth-of-type(1) {

    order: 2;
    margin: 0;

}

section:nth-of-type(2) article > p:nth-of-type(2) {

    order: 2;
    margin: 0;

}



@media (min-width:38em) {
    main>h2 {

        font-size: var(--font-size-h2);
        line-height: var(--font-lineheight);
        font-weight: var(font-weight-heavy);

    }


    section:nth-of-type(2) ul {

        display: grid;
        gap: 1em;

        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr 1fr;

        padding: 0;

    }

    section:nth-of-type(2) ul li {

        background-color: var(--color-card);
        border-radius: 0.625em 0.625em;
        box-shadow: 0 0 1.25em 0 rgba(0, 0, 0, .16)

    }



    /* zou een class mogen want het is herhalend + gebruiken andere pagina's als dat van sprake was? */
    section:nth-of-type(2) ul a article section {

        position: absolute;
        top: 0;
        right: 0;

        display: flex;
        flex-direction: column;

        gap: .5em;
        border-radius: .3em;
        border: 1px solid black;

        

    }

    section:nth-of-type(2) ul a article section h3 {

        margin: 0;

    }

    section:nth-of-type(2) ul a article section p {

        margin: 0;

    }

    section:nth-of-type(2) article {

        display: flex;
        flex-direction: column;

        position: relative;

        border: 1px solid var(--color-border);
        
    }

    section:nth-of-type(2) article img {

        /* deze images scaled niet mee met de grid als de h3 de hele breedte kan nemen */

        /* met object-fit contain moet je vaste waardes geven bij width en height */
        width: 5em;
        height: 5em;
        align-self: center;
        object-fit: contain;
        display: block;

        order: -1;


    }

    section:nth-of-type(2) a {      

        justify-content: center;

    }
}







/****************/
/* vacature & foodcorner*/
/****************/

section:nth-of-type(3) {

    display: grid;
    gap:1em;

    padding-top: 5em;
    padding-bottom: 5em;

}

section:nth-of-type(3) h2 {

    order: -1;

}


section:nth-of-type(3) article:nth-of-type(1) {

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10em, 1fr));
    grid-template-rows: auto;
    gap: 1em;

    order: -1;

    color: black;
    background-color: var(--color-background-werken)
}

section:nth-of-type(3) article:nth-of-type(2){


    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10em, 1fr));
    grid-template-rows: auto;
    gap: 1em;
    
    order:-1;

    color: black;
    background-color: var(--color-background-foodcorner);

}


section:nth-of-type(3) article h2 {

    display: grid;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;


    margin: 0;

}

section:nth-of-type(3) article p {

    display: grid;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;

    margin: 0;

}


section:nth-of-type(3) article img {

    display: grid;
    grid-column-start: 2;

    width: 100%;

    order: -1;
    /* height: 6em; */
    /* object-fit:contain; */

}

section:nth-of-type(3) a {

    grid-column-start: 1;
    grid-column-end: -2;
    grid-row-start: 4;
    align-self:center;

}











/****************/
/* aanmelden nieuwsbrief*/
/****************/

section:nth-of-type(7) {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    background-color: var(--color-background-functional);
    
}

section:nth-of-type(7) svg {

    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;

    width: 3em;
    height: 3em;
    color: black;

}

section:nth-of-type(7) h2 {

    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    /* min-width: 0; */

    margin: 0;
    text-align: left;
    color: black;

}


section:nth-of-type(7) p {

    padding-top: 1em;
    color: black;

}

section:nth-of-type(7) label {

    color: black;

}

section:nth-of-type(7) form {

    padding-top: 2em;

}


/* main section article p {

    display: flex;
    align-self: center;

} */





/****************/
/* footer */
/****************/

section:nth-of-type(8) {

    display: flex;
    flex-direction: column;

}

footer nav:nth-of-type(1) ul {

    display: flex;
    flex-direction: column;
    gap: 1.5em;

    padding: 0;

}

footer nav:nth-of-type(1) svg {

    width: 3em;
    height: 3em;


}



/* verbergen voor chrome en edge*/
details ::marker {

  content: ''; 

}

/* verbergen voor safari aple */
details summary::-webkit-details-marker {
  display:none;
}

summary {
	font-weight: var(--font-weight-heavy);
	
	background-color: var(--color-background);
	
	display:flex;
	align-items:center;
	justify-content:space-between;
	padding:.5em;

}

summary::after {

	content:"+";
	transition:1s;
	font-size:2em;
	line-height:1rem;
}


details[open] summary::after {
	rotate:45deg;
}

/* footer mobiel media */
@media (width > 38em) {
	footer {

		display:flex;
		gap:1em;

	}
	
	summary::after {
        
		content:"";

	}
	
	details::details-content {

		content-visibility:visible;

	}
}