/**************/
/* Hamburger menu*/
/**************/
header{

    position:sticky;
    top:0;

    display:flex;
    gap:1em;
    align-items: center;

}

header search{

    flex-grow:1;

}

header search form input{

    width:100%;

}

header h1{
    
    position:absolute;
    left:-999em;
}


header nav{

  position:fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;

  translate:-100%;
  
  
  transition:0.3s;
    
  background-color: black;

} 


/* Hamburger menu open is */
header nav.toonMenu {

 translate: 0 0;
  
}

/**************/
/* Media hamburger menu weg 38em*/
/**************/
@media (min-width:38em){
    header{
        flex-wrap: wrap;
        background-color: var(--color-background);
    }
    
    header button{
        display:none;
    }
    
    header nav{
        position:static;
        translate:0;
        display:contents;
    }
    
    header ul:nth-of-type(1){
        order:-1;
        width:100%;

        display:flex;
        gap: 1em;
        justify-content: end;
    }
    
    header ul:nth-of-type(2){
        order:-1;
        width:100%;

        display:flex;
        gap: 1em;
        justify-content:center;
    }
}



body {
    font-family: var(--font);
    background-color: var(--color-background);
}


/**************/
/* Carousel homepagina */
/**************/

img {
    max-width: 100%;
}



main > ul:nth-of-type(1){
    list-style: none;
    margin: 0;
    padding: 0;
    list-style-type: none;

    display: flex;

    overflow-x: auto;

    scroll-snap-type: x mandatory;

    @media (prefers-reduced-motion:no-preference) {
        scroll-behavior: smooth;
    }

    anchor-name: --carousel;
}




main > ul:nth-of-type(1) {
    &::scroll-button(*) {
        position: fixed;
        position-anchor: --carousel;
        position-visibility: always;
        font-family: "Material Symbols Outlined";

        width: 3em;
        aspect-ratio: 1/1;
        border-radius: 50%;

        border: none;
        color: white;
        background-color: dodgerblue;
    }

    &::scroll-button(right) {
        position-area: bottom;
        content: '→' / 'Next';
        justify-self: end;
    }

    &::scroll-button(left) {
        position-area: bottom;
        content: '←' / 'Previous';
        justify-self: start;
    }

    &::scroll-button(*):disabled {
        background-color: grey;
    }
}



main > ul:nth-of-type(1) li{
    flex-basis: 100%;
    flex-shrink: 0;

    scroll-snap-align: center;
}


ul img {
    display: block;
}