/**************/
/* logo */
/**************/

/* mobiel logo */
header a:nth-of-type(1) img {


    width: 5.187em;
    height: 1.937em;


    /* dekstop logo */
    @media (min-width: 33em) {

        width: 8.937em;
        height: 3.125em;

    }
}






/****************/
/* font & backgroundcolor */
/****************/

body {
    font-family: var(--font);
    background-color: var(--color-background);
}

main article h2{

    font-size: var(--font-size-h2);

}

main article h3 {

    font-size: var(--font-size-h3);

}




/**************/
/* Hamburger menu*/
/**************/
header {

    position: sticky;
    top: 0;

    display: flex;
    gap: 1em;
    align-items: center;
    z-index: 1;

}

/* of beide via nth-of-type 1 2 selecteren? */
header>ul {

    margin: 0;

}

header search {

    flex-grow: 1;

}

header search form input {

    width: 100%;

}

header h1 {

    position: absolute;
    left: -999em;
}


header nav {

    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    translate: -100%;


    transition: 0.3s;

    background-color: black;

}


/* Hamburger menu open is */
header nav.toonMenu {

    translate: 0 0;

}






/**************/
/* Media hamburger menu weg 38em*/
/**************/
@media (min-width:33em) {
    header {

        flex-wrap: wrap;
        background-color: var(--color-background);

    }


    header button {

        display: none;

    }

    header nav {

        position: static;
        translate: 0;
        display: contents;

    }

    header ul:nth-of-type(1) {

        order: -1;
        width: 100%;

        display: flex;
        gap: 1em;
        justify-content: end;

        margin: 0;

    }

    header ul:nth-of-type(2) {

        order: 1;
        width: 100%;

        display: flex;
        gap: 1em;
        justify-content: center;
        align-self: center;
        flex-grow: 4;

        margin: 0;
        padding-bottom: .5em;

    }
}


@media (min-width:48em) {
    header search {

        order: 5;

    }

    header ul:nth-of-type(2) {

        width: auto;

    }
}




/****************/
/* terug knop */
/****************/
/* position absolute en relative op main is niet mooi */
main a:nth-of-type(1) {

    display: flex;
    align-content: center;

}

main a:nth-of-type(1) {

    font-size: var(--font-size--normal);

    display: flex;
    align-self: center;
    align-items: center;

}








/****************/
/* background recept foto*/
/****************/

main article img {

    width: 100%;

}




/****************/
/* recept media grootscherm */
/****************/
@media (min-width:55em) {

    main {

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;

    }


}




/****************/
/* voorbereiding recept */
/****************/

article{

    position: relative;

}

article>section:nth-of-type(1) {

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);

    /* width: 100%;
    padding: 0;
    position: absolute;
    left: auto;
    top: auto; */

    border: 1px solid;
    border-color: var(--color-border);
    border-radius: 0.625em;
    background-color: var(--color-card);

}









/****************/
/* ingredienten */
/****************/
/* miss een unordered lijst van maken  */
/* of alle section veranderen naar ul li */
article>section:nth-of-type(2) {

    display: grid;
    gap: 1em;

}


article>section:nth-of-type(2) section {

    display: grid;
    padding-bottom: 1em;

    border-radius: 0.625em;
    border: 1px solid;
    border-color: var(--color-border);
    background-color: var(--color-border-background);

}


article>section:nth-of-type(2) ul {

    counter-reset: checklist;

    display: grid;
    grid-template-columns: max-content;
    align-items: center;
    gap: .5em;
    

    margin: 0;
    padding: 0;
    list-style-type: none;

}

section:nth-of-type(2) ul li {

    counter-increment: stappenplan;

    display: grid;
    grid-template-columns: max-content 1fr;
    align-items: center;
    gap: .5em;

}

section:nth-of-type(2) ul li::before{

    content: counter(stappenplan);

    grid-area: 1/1;

    width: 2em;
    aspect-ratio: 1;

    display: grid;
    place-items: center;

    background-color: black;
    color: white;
    border-radius: 50%;

}

section:nth-of-type(2) ul li input{

    grid-area: 1/1;
    opacity: .1;

}

section:nth-of-type(2) ul li:has(input:checked)::before {
    content: "√";

    background-color: green;
}





/****************/
/* Bereidingswijze */
/****************/

ol {
    margin: 0;
    padding: 0;
    list-style-type: none;

    counter-reset: stappenplan;

    display: grid;
    gap: 1em;
}

ol li {
    counter-increment: stappenplan;

    display: grid;
    grid-template-columns: max-content 1fr;
    align-items: center;
    gap: .5em;
}

ol li::before {
    content: counter(stappenplan);

    grid-area: 1/1;

    width: 2em;
    aspect-ratio: 1;

    background-color: red;
    color: white;
    border-radius: 50%;

    display: grid;
    place-items: center;
}

li input {

    grid-area: 1/1;
    opacity: .1;

}

li:has(input:checked)::before {
    content: "√";

    background-color: green;
}