/*********************/
/* Font */
/*********************/
@font-face {
	font-family: 'Nunito';
	font-display: swap;
	src: url(/fonts/Nunito.ttf) format('truetype');
}






/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
	box-sizing: border-box;
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {

	/* font */
	--font: Nunito, sans-serif;

	/* font size */
	--font-size--normal: 1em;
	--font-size--huge: 2.626em;

	--font-size-h2: 2.125em;

	--font-size-h3: 0.83em;

	/* lineheight */
	--font-lineheight: 2.875em;

	/* font weight */
	--font-weight-heavy: 700;

	/* colors */
	color-scheme: light dark;

	--color-text: light-dark(#000, #fff);
	--color-sale: #055c05;

	--color-card: light-dark(#fff, #000);
	--color-background: light-dark(#fafafa, #000);

	--color-background-functional: #6cb32f;
	--color-background-werken: #75a8c6;
	--color-background-foodcorner: #f26aac;

	/* border colors */
	--color-border: #e5e5e5;
	--color-border-background: light-dark(#f7f7f7, #000);

	/* link colors */
	--color-link: light-dark(#6cb32f, #75a8c6);
	--inverse-color: light-dark(black, white);
	/* black moet iets anders of grid kaartje anders aanwijzen */

	/* checklist/stappenplan color */
	--color-checklist: grey;
	--color-stappenplan: red;

	/* svg color */
	--color-svg: light-dark(#000, #fff);


	/* nog opschonen */
	--color-link-green: #6cb32f;
	--color-link-yellow: #fcb900;
	--link-color: green;
	--accent-color: #fcb900;


}

::selection {

	color: green;
	background-color: blue;

}






/********************/
/* #GENERAL STYLING */
/********************/
/* Spring in met 2 spaties of 1 tab. */
/* 5 Witregels tussen hoofdonderdelen.
1 Witregel tussen secties  */
/* Een grote titel (in commentaar) voor
ieder hoofdonderdeel. */
/* - Commentaar om complexere regels en
stukken code uit te leggen */
/* vaste schrijfstijl voor variablen en classes wordt met -streepjes */

html {
	font-family: "Nunito", "sans-serif";
}

/* h1, h2, h3 {
margin:0;
font-size:1em;
font-weight:400;
} */





/****************/
/* #SLIDE-PANEL */
/****************/
.slide-panel {
	position: fixed;
	right: var(--size-chrome-main);
	bottom: var(--size-chrome-main);
	z-index: 9999;
	display: flex;
	/* viewport width - 2x margin - button width */
	max-width: calc(100% - var(--size-chrome-main) * - var(--size-chrome-main));
	/* viewport height - 2x margin */
	max-height: calc(100% - var(--size-chrome-main) * 2);
	background-color: var(--color-background);
	filter: drop-shadow(calc(var(--size-chrome-sub) * .5) calc(var(--size-chrome-sub) * .5) calc(var(--size-chrome-sub) * 1) var(--color-shade-gray));
}

/****************/
/* JOUW STYLING */
/****************/
/* Ik wil de volgorde aanhouden op functioneel met streepjes-tussen voor overig */
/* jouw code */






/**************/
/* logo */
/**************/

/* mobiel logo */
header a:nth-of-type(1) img {


	width: 5.187em;
	height: 1.937em;


	/* desktop logo */
	@media (min-width: 33em) {

		width: 8.937em;
		height: 3.125em;

	}
}




/**************/
/* Hamburger menu*/
/**************/
header {

	position: sticky;
	top: 0;

	display: flex;
	gap: 1em;
	align-items: center;
	z-index: 1;

}

/* of beide via nth-of-type 1 2 selecteren? */
header>ul {

	margin: 0;

}

header search {

	flex-grow: 1;

}

header search form input {

	width: 100%;
	position: relative;

}

header search form svg {

	position: absolute;
	right: 0;

}

header button {

	font: inherit;
	text-align: center;
	color: var(--color-text);


	display: flex;
	align-items: center;
	gap: .25em;
	border-radius: .25em;
	padding: .5em;

	appearance: none;
	border: none;
	background-color: var(--color-background-functional);




}

header h1 {

	position: absolute;
	left: -999em;
}


header nav {

	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	translate: -100%;


	transition: 0.3s;

	background-color: black;

}


/* Hamburger menu open is */
header nav.toonMenu {

	translate: 0 0;
	color: white
}

nav.toonMenu button {

	position: absolute;
	right: 0;
	padding: .5em 1em .5em 1em
}





/**************/
/* Media hamburger menu weg 38em*/
/**************/
@media (min-width:33em) {
	header {

		flex-wrap: wrap;
		background-color: var(--color-background);

	}


	header button {

		display: none;

	}

	header nav {

		position: static;
		translate: 0;
		display: contents;

	}

	header ul:nth-of-type(1) {

		order: -1;
		width: 100%;

		display: flex;
		gap: 1em;
		justify-content: end;

		margin: 0;

	}

	header ul:nth-of-type(2) {

		order: 1;
		width: 100%;

		display: flex;
		gap: 1em;
		justify-content: center;
		align-self: center;
		flex-grow: 4;

		margin: 0;
		padding-bottom: .5em;
		padding-left: 0;

	}
}


@media (min-width:48em) {
	header search {

		order: 5;

	}

	header ul:nth-of-type(2) {

		width: auto;

	}
}






/**************/
/* body font & backgroundcolor */
/**************/
body {


	font-family: var(--font);
	background-color: var(--color-background);

}




/**************/
/* list item styling mogelijk weg*/
/**************/

li {
	list-style-type: none;
}







/****************/
/* States steelers style*/
/****************/

a {
	outline: none;
	text-decoration: none;

	color: inherit;
	transition: .5s;
}

/* sanne vragen */
/* hover en focus */
a:is(:hover, :focus-visible) {
	color: var(--inverse-color);
	box-shadow: inset 0 -1.5em 0 var(--link-color);
	/* inset plaats de bix-shaodw in het element */
	/* 1.5em is de hoogte (line-height) van de a */
}

/* active */
a:active {
	--link-color: var(--accent-color);
}







/****************/
/* svg sizing & placement*/
/****************/
svg {

	color: var(--color-svg);
	width: 1em;
	height: 1em;

}

figure {

	display: flex;
	align-items: center;

	margin: 0;
	padding-top: .5em;
	padding-left: .5em;
	padding-right: .5em;
	padding-bottom: .5em;

}

figcaption {
	position: absolute;
	left: -999em;
}






/****************/
/* footer */
/****************/

section:nth-of-type(8) {

	display: flex;
	flex-direction: column;

}

footer nav:nth-of-type(1) ul {

	display: flex;
	flex-direction: column;
	gap: 1.5em;

	padding: 0;

}

footer nav:nth-of-type(1) svg {

	width: 3em;
	height: 3em;


}



/* verbergen voor chrome en edge*/
details ::marker {

	content: '';

}

/* verbergen voor safari aple */
details summary::-webkit-details-marker {
	display: none;
}

summary {
	font-weight: var(--font-weight-heavy);

	background-color: var(--color-background);

	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: .5em;

}

summary::after {

	content: "+";
	transition: 1s;
	font-size: 2em;
	line-height: 1rem;
}


details[open] summary::after {
	rotate: 45deg;
}

/* footer mobiel media */
@media (width > 38em) {
	footer {

		display: flex;
		gap: 1em;

	}

	summary::after {

		content: "";

	}

	details::details-content {

		content-visibility: visible;

	}
}