/*********************/
/* Font */
/*********************/
@font-face {
	font-family: 'Nunito';
	font-display: swap;
	src: url(/fonts/Nunito.ttf) format('truetype');
}






/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
	box-sizing: border-box;
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {

	/* font */
	--font: Nunito, sans-serif;

	/* font size */
	--font-size--normal: 1em;
	--font-size--huge: 2.626em;


	/* colors */
	--color-text-black: #000;
	--color-text-white: #fff;

	--color-card: #fff;
	--color-background: #fafafa;
	
	--color-background-functional: #6cb32f;
	--color-background-werken: #75a8c6;
	--color-background-foodcorner: #f26aac;

	/* link colors */
	--color-link-red: #cf2e2e;
	--color-link-green: #6cb32f;
	--color-link-yellow: #fcb900;

	--link-color:green;
  	--inverse-color:black;
	--accent-color:#fcb900;

}







/********************/
/* #GENERAL STYLING */
/********************/
/* Spring in met 2 spaties of 1 tab. */
/* 5 Witregels tussen hoofdonderdelen.
1 Witregel tussen secties  */
/* Een grote titel (in commentaar) voor
ieder hoofdonderdeel. */
/* - Commentaar om complexere regels en
stukken code uit te leggen */
/* vaste schrijfstijl voor variablen en classes wordt met -streepjes */

html {
	font-family: "Nunito", "sans-serif";
}

/* h1, h2, h3 {
margin:0;
font-size:1em;
font-weight:400;
} */





/****************/
/* #SLIDE-PANEL */
/****************/
.slide-panel {
	position: fixed;
	right: var(--size-chrome-main);
	bottom: var(--size-chrome-main);
	z-index: 9999;
	display: flex;
	/* viewport width - 2x margin - button width */
	max-width: calc(100% - var(--size-chrome-main) * - var(--size-chrome-main));
	/* viewport height - 2x margin */
	max-height: calc(100% - var(--size-chrome-main) * 2);
	background-color: var(--color-background);
	filter: drop-shadow(calc(var(--size-chrome-sub) * .5) calc(var(--size-chrome-sub) * .5) calc(var(--size-chrome-sub) * 1) var(--color-shade-gray));
}

/****************/
/* JOUW STYLING */
/****************/
/* Ik wil de volgorde aanhouden op functioneel met streepjes-tussen voor overig */
/* jouw code */

header {
	position: sticky;

}

a {
	outline: none;
	text-decoration: none;
	color: inherit;
}

li {
	list-style-type: none;
}







/****************/
/* figcaption weghalen */
/****************/
figcaption {
	position: absolute;
	left: -999em;
}







/****************/
/* States steelers style*/
/****************/

a{
  text-decoration:none;
  transition: .5s;
}

/* hover en focus */
a:is(:hover, :focus-visible) {
  color:var(--inverse-color);
  box-shadow: inset 0 -1.5em 0 var(--link-color);
	/* inset plaats de bix-shaodw in het element */
	/* 1.5em is de hoogte (line-height) van de a */
}

/* active */
a:active {
  --link-color:var(--accent-color);
}





/****************/
/* svg sizing & placement*/
/****************/
svg {

    width: 1em;
    height: 1em;

}

figure {

    display: flex;
    align-items: center;

    margin: 0;
    padding-top: .5em;
    padding-left: .5em;
    padding-right: .5em;
    padding-bottom: .5em;

}